<div class="jumbotron animated fadeIn">
    <h1 class="display-4">
      {{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion | date: 'y' }})</small>
    </h1>
    <div *ngIf="heroe.casa == 'DC'" class="dcBar"> <img src="assets/img/DC.png" alt="DC" class="imgCasa"> </div>
    <div *ngIf="heroe.casa == 'Marvel'" class="marvelBar"> <img src="assets/img/Marvel.png" alt="Marvel" class="imgCasa"> </div>
    <hr class="my-4">
    <p>
      <img [src]="heroe.img" [alt]="heroe.nombre" class="rounded-circle icoPic">
      <br>
      <em>{{ heroe.bio }}</em></p>
    <p class="lead">
      <a [routerLink]="['/heroes']" class="btn btn-outline-danger">Volver</a>
    </p>
  </div>
